@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Ludicrous';
    src: url('Ludicrous-Regular.eot');
    src: url('Ludicrous-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ludicrous-Regular.woff2') format('woff2'),
        url('Ludicrous-Regular.woff') format('woff'),
        url('Ludicrous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
/*	overflow-x: hidden!important; /* Disable horizontal scroll 
	 overflow-y: visible; /* Disable horizontal scroll */
	margin: 0;
    font-family: 'Open Sans';
	height: 100%;
}
/*nav bar and toggle*/
.logo {
	width: 75%;
	margin-left: 3%;
	/*height: 235%;
	width: 100px;
	height: 40px;*/
}
.container-fluid{
	padding-left: 0!important;
	padding-right: 0!important;
}
.navbar-right{
	margin-right: 3%;
}
.form-inline{
	margin-right: 5%;
}
ul li a{
	color: #03497E !important;
	font-size: 22px;
}
li a:hover{
	text-decoration: none;
}

/*search bar*/
#custom-search-input {
    margin:0;
/*    margin-top: 8px;*/
    padding: 0;
	margin-right: 2%;
	border-radius: 3px;
}
#custom-search-input .search-query {
    width:100%;
	height: 50% !important;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:grey;
    cursor: unset;
    z-index: 2;
}
.search-query:focus{
    z-index: 0;   
}
.fa {
	color: grey;
	padding-right: 2%;
}
.center{
	margin-top:15%;
	padding-bottom: 20%;
	
}

.search-text {
    height:50px;
    padding:auto;
    padding-left:6px;
    width: 100% !important;

    margin-top: 30px;
    display:block;

   border: 1px solid #0596D5;
}
a{
	color: white!important;
}

/*-- Sidenav css --*/
.sidenav {
	margin-left: 2%;
	margin-top: 8%;
    width: 200px;
    position:absolute;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
	border: 1px solid #999495 ;
	border-radius: 3px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
	font-weight: 500;
    color: #0596D5 !important;
    display: block;
	text-align: center;
	
}
#border{
	border-bottom: 1px solid #999495 ;
}
.sidenav a:hover {
    color: #064579;
	text-decoration: none;
}

.main {
 	left:300px; 
    padding: 0px 10px;
	margin-top: 4%;
	margin-bottom: 5%;
}
h1{
	font-size:26px !important;
	color:#03497e !important;
}
h2{
	font-size: 18px !important;
	color:#03497e !important;
}
h3{
	color:#03497e !important;
	font-size: 17px !important;
}
h4{
	color:#0596d5 !important;
	font-size: 17px !important;
}
p{
	font-size: 22px;
	text-align: justify;
}
.about p{
	font-size: 17px;
}
#text p{
	font-size: 15px;
	color: #555555;
}
#text1 p{
	font-size: 15px;
	color: #555555;
	padding-left: 2%;
}
#smalladd p{
	font-size: 16px;
	color: #0596D5;
	padding-left: 5%;
}
#smalladd1 p{
	font-size: 16px;
	color: #0596D5;
	padding-left: 5%;
}
.line{
	border-bottom: 1px solid #e2e2e2 ;
	max-width: 45%;
    margin: 0 0 1% 0;
}
#smallmobile{
	display: none;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*--about us--*/
.w3-quarter .fas{
	font-size: 100px;
	padding-right: 10% !important;
	margin-bottom: 5%;
}
/*--ourstory page css--*/
.story h1{
	color: #03497e;
	font-size: 17px;
}
.story p{
	font-size: 15px;
}
.youtubevideowrap{
	width: 100%;
	max-width: 640px;
	}
	.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	}
	.video-container iframe{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	}
/*--press page gallery css--*/
.press{
	margin-bottom: 5%;
}
.press p{
	color: #0596d5 !important;
}
/*--mission--*/
.w3-large{
		text-align: center !important;
	}
.w3-quarter .fas{
	padding-left: 10%;
}
/*--how it works page gallery css--*/
.howbutton{
	display: flex;
	justify-content: center;
	margin-bottom: 5%;
}
.howitworks{
	padding-bottom: 5%;
}
.btn-block{
	color:white;
}
.btn-group-lg>.btn, .btn-lg{
	background-color: #61c75a;
}
#banner {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.demo h1{
	color: white !important;
	font-size: 100px !important;
	margin-bottom: 8%;
}
/*--insurance page--*/
#insuranceicons{
	max-width: 80%;
	margin-left: 10%;
	
}

.insurance h1{
	text-align: center;
}
.form-check{
	margin-left:3% !important;
	margin-bottom: 3%;
}
/*.w4-quarter{
	max-width: 30%;
}*/
.w4-quarter .fas{
	font-size: 100px;
	margin-left: 15%;
	margin-bottom: 5%;
}
.w4-large{
	max-width: 80%;
	text-align: center;
}
.w4-large {
	font-size: 17px !important;
}
/*--safety--*/
#faq{

	margin-bottom: 5%;
}
.card-header{
	background-color: #0596D5 !important;
}
.btn-link{
	color:white !important;
}
.w4-large{
	color: #03497E;
	font-size: 20px;
	font-weight: 500;
}
.lineblue{
	border-bottom: 1px solid #0596d5;
	max-width: 65%;
	margin-bottom: 3%;
}
.safety h1{
	text-align: center;
	font-size: 20px !important;
	color: #0596d5;
	margin-top:3%;
}
/*--jobsconfirm--*/
.jobsconfirm{
	margin-bottom: 20%;
}
/*--insurance--*/
.leftsection{
	border-right: 1px solid #0596d5;
}
.rightsection{
	padding-left: 15%;
}
.rightsection h1{
	padding-left:3%;
}
.quotebtn{
	margin-left: 3%;
}
.getinsurance{
	margin-top:5%;
	margin-bottom: 10%;
}
/*-- signup page--*/
.signup{
	margin-top: 5%;
	margin-bottom: 2%;

}
.signupform{
	margin-top: 2%;
	margin-bottom: 8%;
		
}
.leftsignup{
	border-right: 1px solid #e2e2e2;
}
#my-signin2{
	margin-top:3%;
}
.wrapsignup{
	margin-bottom: 8%;
}
.line1{
	border-bottom: 1px solid #e2e2e2 ;
    margin: 0 0 1% 0;
}
.rightsignup h3{
	padding-left: 3%;
	margin-top: 1%;
}
/*--sign up confirm--*/
.confirmation p{
	color: #0596D5 !important;
	font-size: 18px;
}
.confirmation{
	margin-top: 10%;
	margin-bottom: 10%;
}
.confirmation a{
	color: #0596D5 !important;
	text-decoration-line: underline;
}
/*--insurance quote page--*/
.insurancequote{
	margin-top: 5%;
		margin-bottom: 10%;
	}
.insurancequote h1{
	font-size: 20px !important;
}
/*--details page--*/
.buttonsgroup{
	margin-top: 5%;
	padding-left: 5% !important;
}
.topicon{
	margin-bottom: 7%;
}
.topicon img{
	margin: 0 0 5% 35%;
}
.bottomicon img{
	margin: 0 0 5% 40%;
}
.detailbutton{
	color: white;
}
/*-- Footer css --*/
footer{
	/*position: absolute;*/
	background-color:#0596D5;
	min-height:100px;
	padding:10px 0px; 
	left: 0;
	bottom: 0!important;
	width: 100%;
}
.footer_h3{
	padding: 20px 0px;
	margin-bottom: 0!important;
    color: white !important;
    font-size: 18px;
	text-transform:uppercase;
}
.footer_h4{
	padding: 20px 0px;
    color: #0596D5;
    font-size: 18px;
	margin-bottom: 0!important;
}
ul.footer_ul{
	padding:0px;
	list-style-position: inside;
	list-style: none;
}
.footer_ul > li {
    padding-bottom: 10px;
    font-size: 18px; 
}
.footer_ul > li >a {
    color: white !important;
    text-decoration: none !important;
	font-size: 17px;
	line-height: 18px;
	margin:0;
}
.footer_ul > li > a:hover{
     color: #ffffff;
}
.foot{
	display: flex;
	justify-content: space-between;
	margin-top: 2%;
}
.w3-row-padding{
	margin-left:10%;
	margin-right: 10%;
}
.w3-quarter{
	max-width: 25%;
}

.right{
	max-width: 350px;
	text-align: left;
	color: white;
	margin-top:2%;
	font-size: 15px;
	right: 0;
	margin-left: 3%;
}
.right p{
	font-size: 15px;
}
.all{
	display: flex;
	justify-content: space-between;
}
.box {
    width: 33.33%;
}
.qr{
	margin-top: 1%;
}
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;

}*/
.menu-uls{
	margin-left: 10%;
	margin-right: 10%;
}
.wrappclearfix{
	border-bottom: 1px solid white;
	max-width: 100%;
	margin-left:10%;
	margin-right: 10%;
}
.box{
	
	font-size:28px;
	color: white !important;
}
.fa{
	color:white!important;
}
.fas{
	color: #0596D5;
	font-size: 70px !important;
}
.w3-quarter{
	text-align: center;
}
.w3-large {
	color: #0596D5 !important;
	font-size: 18px;
}
/*.iconsabout{
	display: flex;
	justify-content: space-between;
	margin-top: 7%;
	margin-bottom: 7%;
	padding-left: 5%;
}*/
.icons{
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
}
#imghow{
	margin-bottom: 5%;
}
.widget{
	margin-bottom: 5%;
}
/*--details--*/
	.line2{
	border-bottom: 1px solid #e2e2e2 ;
    margin: 4% 0 4% 0;
}
/*--dashboard--*/
.wrapdashboard{
	margin-top: 1%;
}
.dashtop{
	margin-left: 2% !important;

}
.dashbottom{
	margin-left: 2% !important;
	margin-bottom: 2%;
}
	.far{
		color: #03497E;
		font-size: 35px;
		margin-top: 12%;
	}
	.profiletumb{
/*	margin-left: 2%;
	margin-top: 8%;*/
	max-width: 200px !important;
    position:absolute;
    z-index: 1;
   /* top: 20px;
    left: 10px;*/
    overflow-x: hidden;
	border: 1px solid #e2e2e2 ;
	border-radius: 3px;
	}
.sidenav2{

	margin-top: 1%;
    max-width: 200px !important;
    position:absolute;
    z-index: 1;
    top: 15%;
    overflow-x: hidden;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}
.sidenav2 a{
	padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
	font-weight: 500;
    color: #0596D5 !important;
    display: block;
	text-align: left;
}
.profilepic img{
	border-radius: 50%;
	display: block;
	margin-left: auto!important;
	margin-right: auto !important;
	margin-top:15% !important;
	
}
.clickcomplete a{
	color: #03497e !important;
	float: right;
	font-weight: 500;
	
}
.completebar p{
	text-align: right;
	font-size: 15px;
	color: #0596D5 ;
	font-weight: 500;
	margin-bottom: 0!important;
}
.profileinfo{
	border: 1px solid #e2e2e2 ;
	border-radius: 3px;
	margin-left: 1%;
}
.myfeed{
	border: 1px solid #e2e2e2 ;
	border-radius: 3px;
	margin-left: 1%;
	margin-top: 1%;
	position: absolute;
	bottom: 0 !important;
}
.icontext{
	font-size: 18px !important;
	padding-right: 2%;
	margin-top: 1%;
}
.icontext1{
	font-size: 18px !important;
	float: right!important;
	right: 0;
	margin-top:1%;
}
.icontext2{
	font-size: 18px !important;
	float: right!important;
	right: 0;
	margin-top:1%;
}
.nameage{
	display: inline;
	margin-top: 5% !important;
}
li .dropdown {
	list-style: none !important;
}
.checked {
	font-size: 18px;
    color: orange;
}
.fa-star{
	font-size: 18px;
}
.reiting{
	max-height: 25%;
}
.aboutme h1{
	font-size: 18px!important;
}
.aboutme p{
	font-size: 15px;
	color: #0596D5;
	font-weight: 500;
}
.fullname{
	font-size: 18px !important;
}
#rating{
	font-size: 18px !important;
}
.stars{
	display: flex;
	justify-content: flex-start;
	margin-top: 1%;
}
.fa-star{
	margin-top: 0!important;
}
.aboutme{
	margin-top: 1%;
}
.myfeed h1{
	font-size: 15px !important;
	margin-top: 1%;
}
.review p{
	font-size: 15px;
	color: #0596D5;
	font-weight: 500;
}
.readmore a{
	color:#0596D5 !important;
	float:right;
}
.bottomfeed{
	display: inline;
	position: absolute;
	bottom: 0;
}
@media screen and (max-width: 767px) {
	.wrapper {
    overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
	.logo {
	margin-left: 3%;
	width: 50%;
	}
	.main{
		margin-left:2%;
	}
	.sidenav{
		position: relative;
		margin-left: 18% !important;
		margin-bottom: 15%;

	}
	#smalladd{
		display: none;
	}
	.line{
		max-width: 100%;
	}
	.text p{
		font-size: 15px !important;
	}
	.text1 p{
		margin-left: 0 !important;
		font-size: 15px !important;
	}
	ul li a{
	font-size: 18px;
	color: white;
	}
	.menu-uls{
	margin-left: 1%;
	}
	h1{
		font-size:22px !important;
		text-align: center;
	}
	h3{
		text-align: center;
	}
	h2{
		text-align: center;
	}
	h4{
		text-align: center;
	}
	p{
		font-size: 18px !important;
		text-align: center;
	}
	.center{
		margin-top:25%;
		padding-bottom: 40%;
		
	}
	.foother-h4{
		display: none;
	}
	footer{
		bottom: 0;
	}
	.footer_ul> li> a{
		font-size: 15px;
	}
	.right{
		margin-left:4%;
		font-size: 15px;
	}
	.qr{
		display: none;
	}
	.fas{
		padding-left:10%;
	}
	.w3-quarter{
		max-width: 100%;
		font-size: 60px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.w4-quarter{
		max-width: 100%;
		font-size: 60px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.w3-large{
		text-align: center !important;
	}
	#smallmobile{
		display: block;
		color: #03497E;
		
	}
	#smallmobile p{
		font-size: 18px;
		text-align: center;
	}
	.addressbottom{
		margin-bottom: 15%;
	}
	#smalladd1{
		margin-top:10%;
	}
	.demo h1{
		font-size: 30px !important;
		margin-top: 3%;
	}
	.centered{
		top: 50%;
		left:50%;
		
	}
		/*--insurance--*/
	#insuranceicons{
		max-width: 90%;
	}
	.w4-quarter{
		max-width: 100%;
	}
	.howbutton{
		margin-left:2% !important;
		margin-right: 2% !important;
	}
	.insurance h1{
		font-size: 20px !important;
	}
	.insurance{
		margin-top: 5% !important;
	}

	.leftsection{
	border-right: none;
	}
	.rightsection{
	padding-left: 0;
	}
	.rightsection h1{
	text-align: center;
	}
	.quotebtn{
	margin-left: 3%;
	}
	.getinsurance{
	margin-top:5%;
	margin-bottom: 10%;
	}
	
	/*--youtube video--*/
	/*youtubevideo*/
	.youtubevideowrap{
	width: 100%;
	max-width: 640px;
	}
	.video-container{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	}
	.video-container iframe{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	}
	.leftsignup{
		border-right: none !important;
		margin-left:7%;
		margin-bottom: 7%;
	}
	#faq{
		margin-bottom:15%!important;
	}
	.safety h1{
		padding: 0 2% 0 2%;
	}
	/*--signup page--*/
	.signup{
		margin: 5% 0 5% 0;
	}
	.press img{
		margin-left: 17%;
	}
	/*--details--*/
	.topicon img{
		margin: 0 0 2% 0;
	}
	.bottomicon img{
		margin: 0;
	}
	
}
/* ----------- iPhone 6 ----------- */

@media screen and (max-width: 375px) {
    .wrapper {
        overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
	
}

/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px) {
    .wrapper {
        overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.sidenav{
		margin-left:15%;
		position: relative;
		max-width: 100%;
		width: 600px;
	}
	.demo h1{
		font-size: 65px !important;
	}
	.centered{
		top: 50%;
		left:50%;
		
	}
	.story{
		margin-left: 15% !important;
	}
}
@media only screen  and (min-width : 1224px) {
	.main{
		margin-left: 300px;
	}
}
/*------new dashboar layout----------*/

.sidenav3{

	top: 150%!important;
    max-width: 200px !important;
    overflow-x: hidden;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}
.sidenav3 ul li a{
	padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
	font-weight: 500;
    color: #0596D5 !important;
    display: block;
	text-align: left;
}

.myfeed3{
	border: 1px solid #e2e2e2 ;
	border-radius: 3px;
	margin-left: 1%;
	margin-bottom: 5%;
	position: absolute;
}
.leftcol{
	margin-left: 3%;
	
}
.rightcol{
	border: 1px solid #e2e2e2 ;
	border-radius: 3px;
	margin-left: 1%;	
}
#profiletumb2{
		max-width: 200px !important;
		border: 1px solid #e2e2e2 ;
		border-radius: 3px;
		
}
.profiletumb3{


	position:relative;
	margin: 3% 4% 3% 8%;

/*	padding: 2% 10% 2% 10%;*/
}
.platenmr{
	margin-bottom: 1%;
}
.platenmr2{
	margin-top: 1%;
}
.input-sm{
	max-width: 80%;
/*	border-radius: 5px !important;*/
}
.phonenmr{
	display: flex;
	margin-top: 2%;
	margin-left: 3%;
}
.fa-mobile-alt{
	font-size: 18px !important;
}
.phonenmr p{
	font-size: 15px;
	color: #0596D5;
}
.nav-pills{
	display : inline;
    position:relative;
	margin-top: 25%;
}
.nav-pills .nav-link{
	color: #0596D5 !important;
}
/*--- messaging--*/
.messagerequest{
	display: flex;
}
.messagerequest img{
	border-radius: 50%;
}
.newmessage{
	padding-top: 1%;
	border-bottom: 1px solid #e2e2e2 ;
}
.messagetitle{
	margin-left: 1%;
}
.message{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e2e2e2 ;
	margin-bottom: 1%;
}
.sender{
	display: flex;
	position: relative;
}
.speech-bubble {
	position: relative;
	background: #e2e2e2;
	border-radius: .4em;
	margin-bottom: 2%;
	
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 90%;
/*	width: 0;
	height: 0;*/
	border: 19px solid transparent;
	border-right-color: #e2e2e2;
	border-left: 0;
	border-bottom: 0;
	margin-top: -8px;
	margin-left: -16px;

}
.speech-bubble h1{
	font-size: 15px !important;
	font-weight: 300;
	color: black !important;
}
.conversation{
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #e2e2e2 ;
}
.avatar{
	margin-top: 11%;
	margin-right: 2%;
}
.avatar img{
	border-radius: 50%;
}
.wrapbubble{
	padding: 1% 1% 1% 1%;
	margin-left: 1%;
}
.wrapbubble h1{
	font-weight: 500;
}
.requestedmotor {
	color: #03497e;
	font-weight: 500;
}
.requestdate{
	color: #03497e;
	font-weight: 500;
}
.imgsender{
	margin-top:2%;
	border-radius: 50%;
}
.name{
	margin-top: 2%;
	margin-left: 1%;
}
#reiting{
	margin-left: 1%;
	font-size: 18px !important;
}
.stars2{
	display: flex;
	justify-content: flex-start;
	margin-top: 2%;
	margin-left: 3%;
}
.bikeinfo{
	display: flex;
}
.bikeinfo img{
	margin-top: 2%;
}
.acceptdecline{
	display: flex;
}
.datemsg{
	font-size: 13px !important;
	font-weight: 500;
}
.locationmsg{
	font-size: 13px !important;
	font-weight: 500;
}
.costmsg{
	font-size: 13px !important;
	font-weight: 500;
}
.dateofrequest h3{
	font-size: 13px !important;
	color:  gray !important;
	font-weight: 300;
}
.accept{
	color: forestgreen;
	font-weight: 500;
}
.decline{
	color: red;
	font-weight: 500;
	margin-left: 8%;
}
.wrapinfomsg{
	margin-left:3%;
}
.msgtitle{
	font-weight: 500;
	color: #03497e;
	position: absolute;
	bottom: 0;
}
.msgtitle h1{
	font-size: 18px !important;
}
.motorpic{
	margin-top: 1%;
}
.myfeed3{
	position: relative !important;
}
.answer{
	position: absolute !important;
	bottom: 0 !important;
	display: flex;
	justify-content: space-between;
	margin-left:1% !important;
}
.answer h2{
	color: gray !important;
	font-size: 15px !important;
}
.answer p{
	color: gray !important;
	font-size: 18px !important;
}
.motorpic p{
	font-size: 15px;
}
.fa-paper-plane{
	font-size: 40px !important;
	margin-top: 5%;
}


/*---add bike--*/
.addbike{
	display: flex;
	justify-content: space-between;
}
.addbikeimg{
	display: flex;
	justify-content: space-between;
	margin-top:5%;
}
.addbike img{
	padding: 0 3% 0 3%;
	border: 1px solid #0596D5 ;
	border-radius: 5px;
}
.addbike2{
	display: flex;
	justify-content: space-around;
	margin-top:5%;
}
.addbike2 img{
	padding: 0 3% 0 3%;
	border: 1px solid #0596D5 ;
	border-radius: 5px;
}
.bikes h1{
	text-align: center;
	color: #0596D5 !important;
	margin-top: 2%;
	font-size: 20px !important;
}
#btnnext{
	color: white;

}
.btnaddbike{
 	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
.leftaddbike{
	margin-top: 2.5%;
}
.rightaddbike{
	margin-top: 9%;
}
.addbikeimg p{
	font-size: 18px;
	color: #0596D5;
	text-align: center;
}
.bikedetails h1{
	text-align: center;
	color: #0596D5 !important;
	margin-top: 1%;
}
/*--range slider--*/
.infoicon {
  color: #ffffff !important;
  background-color: #000000;
  font-style: italic;
  border-radius: 10rem;
  display: inline-block;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
@media screen and (max-width: 767px){
	.msgtitle{
		display: none;
	}
	.platenmr2{
		display: none;
	}
	.motorpic{
		display: none;
	}
	.conversation{
		margin-bottom: 25%;
	}
	.avatar{
		margin-left:3%;
	}
	.reply{
		margin-left:3%;
	}
	.fa-paper-plane{
		font-size: 18px !important;
	}
}
