@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Ludicrous';
    src: url('Ludicrous-Regular.eot');
    src: url('fonts/Ludicrous-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Ludicrous-Regular.woff2') format('woff2'),
        url('fonts/Ludicrous-Regular.woff') format('woff'),
        url('fonts/Ludicrous-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
	overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
	margin: 0;
    font-family: 'Open Sans';
	height: 100%;
}
/*nav bar and toggle*/
.logo {
	width: 75%;
	margin-left: 3%;
	/*height: 235%;
	width: 100px;
	height: 40px;*/
}
#backgroundimg{
	background-image: url( ../img/backgroundnew.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}
.navbar-right{
	margin-right: 3%;
}
.form-inline{
	margin-right: 5%;
}
ul li a{
	color: white !important;
	font-size: 22px;
}
li a:hover{
	text-decoration: none;
}
.center{
	margin-top:10%;
	padding-bottom: 20%;
	
}
h1{
	color: white !important;
	font-size:70px !important;
	padding-left: 3%;

}
.search-text {
    height:50px;
    padding:auto;
    padding-left:6px;
    width: 100% !important;

    margin-top: 30px;
    display:block;

   border: 1px solid #0596D5;
}
a{
	color: white!important;
}
.ride{
	text-align: center;
	margin-top:2%;
}
.btn-group-lg>.btn, .btn-lg{
	padding: 1% 5% 1% 5%!important;

}
.btn-primary{
	background-color: #0596D5;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
	height: 55px;
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
	font-size: 20px;
}
 
#custom-search-input button {
	font-size: 30px;
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
	margin-right: 1%;
    position: absolute;
    right:0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#0596D5;
    cursor: unset;
    z-index: 2;
}

.search-query:focus{
    z-index: 0;   
}
/*-- Footer css --*/
footer{
	background-color:#0596D5;
	min-height:100px;
	padding:10px 0px; 
	left: 0;
	bottom: 0!important;
	width: 100%;
}
.footer_h3{
	padding: 20px 0px;
	margin-bottom: 0!important;
    color: white;
    font-size: 18px;
	text-transform:uppercase;
}
.footer_h4{
	padding: 20px 0px;
    color: #0596D5;
    font-size: 18px;
	margin-bottom: 0!important;
}
ul.footer_ul{
	padding:0px;
	list-style-position: inside;
	list-style: none;
}
.footer_ul > li {
    padding-bottom: 10px;
    font-size: 18px; 
}
.footer_ul > li >a {
    color: white !important;
    text-decoration: none !important;
	font-size: 17px;
	line-height: 18px;
	margin:0;
}
.footer_ul > li > a:hover{
     color: #ffffff;
}
.foot{
	display: flex;
	justify-content: space-between;
	margin-top: 2%;
}
.w3-row-padding{
	margin-left:10%;
	margin-right: 10%;
}
.w3-quarter{
	max-width: 25%;
}
.right{
	max-width: 350px;
	text-align: left;
	color: white;
	margin-top:2%;
	font-size: 18px;
	right: 0;
	margin-left: 3%;
}
.all{
	display: flex;
	justify-content: space-between;
}
.box {
	text-align: center;
    float: left;
    width: 33.33%;
   padding: -10px;

}
.qr{
	margin-top: 1%;
}
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;

}*/
.menu-uls{
	margin-left: 10%;
	margin-right: 10%;
}
.wrappclearfix{
	border-bottom: 1px solid white;
	max-width: 100%;
	margin-left:10%;
	margin-right: 10%;
}
.box{
	
	font-size:28px;
	color: white !important;
	padding-left: 0!important;
}
.fa{
	color:white!important;
}
.icons{
	display: flex;
	justify-content:space-between;
}
#imghow{
	margin-bottom: 5%;
}



@media screen and (max-width: 767px) {
	.wrapper {
       overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
	.logo {
	margin-left: 3%;
	width: 50%;
	}
	ul li a{
	font-size: 18px;
	color: white;
	}
	.menu-uls{
	margin-left: 1%;
	}
	h1{
		font-size:35px !important;
		text-align: center;
		
	}
	.center{
		margin-top:25%;
		padding-bottom: 40%;
		
	}
	.foother-h4{
		display: none;
	}
	footer{
		position: sticky;
		bottom: 0;
	}
	.footer_ul> li> a{
		font-size: 15px;
	}
	.right{
		margin-left:4%;
		font-size: 15px;
	}
	.qr{
		display: none;
	}
}
/* ----------- iPhone 6 ----------- */

@media screen and (max-width: 375px) {
    .wrapper {
        overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
}

/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px) {
    .wrapper {
        overflow-x: hidden!important; /* Disable horizontal scroll */
	overflow-y: visible; /* Disable horizontal scroll */
    }
}






